In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.zip')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [23]:
# Create our features
df_encoded = pd.get_dummies(df, columns = ["home_ownership", "verification_status", "loan_status", "pymnt_plan", "hardship_flag", "debt_settlement_flag", "initial_list_status", "application_type"])

# convert the string columns to numbers
df_encoded = pd.get_dummies(df, columns = ["home_ownership", "verification_status", "pymnt_plan", "hardship_flag", "debt_settlement_flag", "initial_list_status", "application_type"])

# identify the features and store as X
x_cols = [i for i in df_encoded.columns if i not in ("home_ownership", 
                                                     "verification_status", 
                                                    "issue_d",
                                                    "loan_status",
                                                    "pymnt_plan",
                                                    "loan_status_high_risk",
                                                    "loan_status_low_risk", 
                                                    "initial_list_status", 
                                                    "next_pymnt_d", 
                                                    "application_type"
                                                    )]
X = df_encoded[x_cols]


# Create our target
y = df["loan_status"]

In [24]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.478007,0.373992,0.148001,1.0,1.0,1.0,0.123879,0.876121,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.499520,0.483865,0.355104,0.0,0.0,0.0,0.329446,0.329446,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,1.000000,0.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000

In [26]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [25]:
# Split the data into training and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [27]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
model_brf = brf.fit(X_train_scaled, y_train)

In [28]:
# Calculated the balanced accuracy score
y_pred = model_brf.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.7102472700497364

In [29]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[   61,    40],
       [ 3138, 13966]])

In [30]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.60      0.82      0.04      0.70      0.48       101
   low_risk       1.00      0.82      0.60      0.90      0.70      0.50     17104

avg / total       0.99      0.82      0.61      0.89      0.70      0.50     17205

In [15]:
# List the features sorted in descending order by feature importance

sorted(zip(model_brf.feature_importances_, X.columns), reverse=True)

[(0.06871013812857599, 'total_rec_prncp'),
 (0.05876604604761024, 'last_pymnt_amnt'),
 (0.05842174951903921, 'total_pymnt'),
 (0.0571057602640058, 'total_rec_int'),
 (0.054840491858517186, 'total_pymnt_inv'),
 (0.032383261101567196, 'int_rate'),
 (0.020797485025965713, 'dti'),
 (0.019910812108082928, 'mths_since_recent_inq'),
 (0.01845737990027162, 'installment'),
 (0.017876767296745352, 'revol_bal'),
 (0.01759361853749949, 'max_bal_bc'),
 (0.01717940369462018, 'mths_since_rcnt_il'),
 (0.016915889589917167, 'il_util'),
 (0.016702050849779933, 'mo_sin_old_il_acct'),
 (0.016186587581626558, 'all_util'),
 (0.01525010812473715, 'mo_sin_old_rev_tl_op'),
 (0.01522944227456168, 'annual_inc'),
 (0.014930245831781737, 'total_rev_hi_lim'),
 (0.014733295718946745, 'tot_cur_bal'),
 (0.014452273431769478, 'bc_util'),
 (0.014388538581894905, 'total_il_high_credit_limit'),
 (0.01436423227082192, 'total_bal_ex_mort'),
 (0.013605888193032165, 'total_bal_il'),
 (0.013561908887823972, 'mths_since_recent_bc'),
 (0.013254556778784326, 'out_prncp_inv'),
 (0.013241918525670754, 'bc_open_to_buy'),
 (0.013116889899691841, 'tot_hi_cred_lim'),
 (0.012824340252666364, 'num_il_tl'),
 (0.012729551318245783, 'num_rev_accts'),
 (0.01272281598917806, 'out_prncp'),
 (0.012635780867554538, 'total_bc_limit'),
 (0.012518401620295043, 'inq_last_12m'),
 (0.012477287444596894, 'avg_cur_bal'),
 (0.012390756565893153, 'total_acc'),
 (0.011990144409438921, 'num_bc_tl'),
 (0.011299104165388138, 'loan_amnt'),
 (0.010657836080189012, 'acc_open_past_24mths'),
 (0.0105901666797693, 'open_il_24m'),
 (0.009967114255439632, 'mo_sin_rcnt_tl'),
 (0.009755070715291397, 'mo_sin_rcnt_rev_tl_op'),
 (0.009194236382018378, 'pct_tl_nvr_dlq'),
 (0.008973327656615081, 'inq_fi'),
 (0.008526637377177461, 'total_rec_late_fee'),
 (0.008458827859034181, 'open_act_il'),
 (0.008426536769111358, 'num_tl_op_past_12m'),
 (0.008351658491702165, 'num_rev_tl_bal_gt_0'),
 (0.008217419495810067, 'num_sats'),
 (0.008185643918535358, 'num_op_rev_tl'),
 (0.007871501610695534, 'num_bc_sats'),
 (0.007477121342233716, 'total_cu_tl'),
 (0.007357730725076231, 'open_acc_6m'),
 (0.006939318996447972, 'open_acc'),
 (0.006754117374653321, 'num_actv_rev_tl'),
 (0.006727308337614734, 'percent_bc_gt_75'),
 (0.006610539081309673, 'num_actv_bc_tl'),
 (0.006591473566224764, 'open_rv_24m'),
 (0.006165206520982618, 'open_rv_12m'),
 (0.005619596238539162, 'mort_acc'),
 (0.005371112331720658, 'inq_last_6mths'),
 (0.005258001709152351, 'tot_coll_amt'),
 (0.005079782997166474, 'open_il_12m'),
 (0.004828896443950588, 'delinq_2yrs'),
 (0.003868959058894624, 'num_accts_ever_120_pd'),
 (0.002741841283749097, 'application_type_Individual'),
 (0.002650973245021201, 'application_type_Joint App'),
 (0.0022628524486123323, 'pub_rec'),
 (0.002108302540156615, 'verification_status_Source Verified'),
 (0.0019752124349247634, 'verification_status_Not Verified'),
 (0.0017847393477374274, 'pub_rec_bankruptcies'),
 (0.001710467547355187, 'home_ownership_OWN'),
 (0.0016660451874617923, 'home_ownership_MORTGAGE'),
 (0.0016192331872942236, 'home_ownership_RENT'),
 (0.0016149357917989743, 'verification_status_Verified'),
 (0.0013067994926784588, 'initial_list_status_w'),
 (0.001042377130888522, 'initial_list_status_f'),
 (0.0010419259833854542, 'num_tl_90g_dpd_24m'),
 (0.0006929604011815052, 'collections_12_mths_ex_med'),
 (0.00026587041209850926, 'home_ownership_ANY'),
 (0.00012539889370208064, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [32]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
model_eec = eec.fit(X_train_scaled, y_train)

y_pred = model_eec.predict(X_test)

In [33]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(y_test, y_pred)

0.49727815391454955

In [34]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[   17,    84],
       [ 2972, 14132]])

In [35]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.17      0.83      0.01      0.37      0.13       101
   low_risk       0.99      0.83      0.17      0.90      0.37      0.15     17104

avg / total       0.99      0.82      0.17      0.90      0.37      0.15     17205